<!-- <mat-divider [vertical]="true"> -->
<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Edward Dupre</h2>
      <h4>edward.dupre@edwd42.com</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Edward Dupre"
    />
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <nav class="main-nav">
    <ul class="main-nav-ul">
      <li>
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/visualization"
          >Visualization<span class="sub-arrow"></span
        ></a>
        <ul>
          <li>
            <a
              routerLinkActive="list-item-active"
              routerLink="/prov-streetlights"
              >Streetlights</a
            >
          </li>
          <li>
            <a routerLinkActive="list-item-active" routerLink="/plotly144"
              >Plotly Chart</a
            >
          </li>
          <li>
            <a routerLinkActive="list-item-active" routerLink="/pyplot1"
              >Pyplot Chart</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/simulation"
          >Simulation<span class="sub-arrow"></span
        ></a>
        <ul>
          <a routerLinkActive="list-item-active" routerLink="/kwh-sim"
            >Streetlight 50% Simulation</a
          >
        </ul>
      </li>
      <li>
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/optimization"
          >Optimization<span class="sub-arrow"></span
        ></a>
        <ul>
          <a routerLinkActive="list-item-active" routerLink="/optimize-widget"
            >Leaflet Heat-map</a
          >
        </ul>
      </li>
    </ul>
  </nav>
  <br /><br />
  <mat-divider></mat-divider>

  <h2 matSubheader>About Me</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contact
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Resume
  </a>
</mat-nav-list>
<!-- </mat-divider> -->
