<!-- <mat-divider [vertical]="true"> -->
<mat-nav-list>
  <!-- <div class="profile-card">
    <div class="header">
      <h2>Edward Dupre</h2>
      <h4>edward.dupre@edwd42.com</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Edward Dupre"
    />
  </div> -->

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <nav class="main-nav">
    <ul class="main-nav-ul">
      <li>
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/visualization"
          >Visualization<span class="sub-arrow"></span
        ></a>
        <ul>
          <li>
            <a
              routerLinkActive="list-item-active"
              routerLink="/prov-streetlights"
              >Streetlights</a
            >
          </li>
          <li>
            <a routerLinkActive="list-item-active" routerLink="/plotly144"
              >Plotly Chart</a
            >
          </li>
          <li>
            <a routerLinkActive="list-item-active" routerLink="/pyplot1"
              >Pyplot Chart</a
            >
          </li>
          <li>
            <a routerLinkActive="list-item-active" routerLink="/eia"
              >EIA Dashboard</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/simulation"
          >Simulation<span class="sub-arrow"></span
        ></a>
        <ul>
          <a routerLinkActive="list-item-active" routerLink="/kwh-sim"
            >Streetlight 50% Simulation</a
          >
        </ul>
      </li>
      <li>
        <a
          mat-list-item
          routerLinkActive="list-item-active"
          routerLink="/optimization"
          >Optimization<span class="sub-arrow"></span
        ></a>
        <ul>
          <li>
            <a routerLinkActive="list-item-active" routerLink="/optimize-widget"
              >Leaflet Heatmap</a
            >
          </li>
          <li>
            <a routerLinkActive="list-item-active" routerLink="/leaflet-layers"
              >Leaflet Layers</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <br /><br />
  <mat-divider></mat-divider>

  <!-- <h2 matSubheader>About Me</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    <app-contact></app-contact>
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Resume
  </a> -->
</mat-nav-list>

<mat-divider></mat-divider>

<br />

<cdk-virtual-scroll-viewport itemSize="40" class="container">
  <div fxLayout="column" fxLayoutAlign="space-between center" class="scrolling">
    <mat-card>
      <a href="https://utilidata.com/jobs/software-engineer-2/">
        <mat-card-content style="text-align: center;">
          <img
            src="/assets/img/Utilidata_job_posting.png"
            style="width: 250px;"
          />
        </mat-card-content>
      </a>
    </mat-card>
    <mat-card>
      <a href="https://bit.ly/2PJZ0kS">
        <mat-card-content style="text-align: center;">
          <img
            src="/assets/img/Edward_Dupre_Resume.png"
            style="width: 250px;"
          />
        </mat-card-content>
      </a>
    </mat-card>

    <!-- <mat-card>
      <a href="/leaflet-layers">
        <mat-card-content style="text-align: center;">
          <img
            src="/assets/img/Leaflet_Layers_220x278.png"
            style="width: 250px;"
          />
        </mat-card-content>
      </a>
    </mat-card>
     -->
    <!--
    <mat-card>
      <a href="/optimize-widget">
        <mat-card-content style="text-align: center;">
          <img src="/assets/img/Heatmap_220x278.png" style="width: 250px;" />
        </mat-card-content>
      </a>
    </mat-card> -->
  </div>
</cdk-virtual-scroll-viewport>
