<!-- <mat-divider [vertical]="true"> -->
<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Edward Dupre</h2>
      <h4>edward.dupre@edwd42.com</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Soufiane FADIL"
    />
  </div>

  <mat-divider
    _ngcontent-c1=""
    class="mat-divider mat-divider-horizontal"
    role="separator"
    aria-orientation="vertical"
  >
  </mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Visualization</a
  >
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/chart">Chart</a> -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/simulation"
    >Simulation</a
  >
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/optimization"
    >Optimization</a
  >

  <mat-divider></mat-divider>

  <h2 matSubheader>About Me</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contact
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Resume
  </a>
</mat-nav-list>
<!-- </mat-divider> -->
