:host {
  background-color: #efefef;
  color: #fff;
}

header {
  padding: 10px;
  background-color: #dcdcdc;
}

#logo {
  font-size: 32px;
  font-weight: bold;
  padding-top: 10px;
}

#logo-img {
  vertical-align: middle;
  padding-bottom: 9px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: darkgray;
}
a:hover {
  color: red;
}
