:host {
    background-color: #3f51b5;
    color: #fff;
}

header {
    padding: 10px;
    background-color: #dcdcdc;
  }
  
  #logo {
    font-size: 48px;
    font-weight: bold;
  }
  
  #logo-img {
    vertical-align: middle;
    padding-bottom: 9px;
  }

ul li {
    list-style: none;
  }

//   .mat-toolbar.mat-primary {
//     background: #007bff;
//     color: #fff;
//   }