// :host {
//   padding: 20px;
//   background-color: darkgrey;
// }

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.contact {
  width: 340px;
  margin-left: -40px;
  /* -webkit-box-shadow: 2px 2px 10px 0px #000000; */
  /* box-shadow: 2px 2px 10px 0px #000000; */
}

button {
  font-family: Arial;
  color: #000000;
  /* font-size: 16px; */
  padding: 0;
  text-decoration: none;
  border: none;
  background-color: #fff;
}

button:hover {
  text-decoration: none;
  color: blue;
}
