<br /><br />
<div class="container">
  <div id="content" class="flex-container" flexLayout="row">
    <p>
      Hello! Please click
      <a
        href="http://leaflet-geojson-app-stage1.s3-website-us-east-1.amazonaws.com/"
        target="_blank"
        >this link</a
      >
      to my leaflet-geojson app hosted on AWS. I am working to integrate that
      Node.js app into this Angular app. But it ain't easy. Yet!
    </p>
  </div>
  <div id="image">
    <a
      href="http://leaflet-geojson-app-stage1.s3-website-us-east-1.amazonaws.com/"
      target="_blank"
    >
      <img
        src="../../../../assets/img/Heat_Map_Providence.jpg"
        alt="Smiley face"
        style="height:60vh;"
    /></a>
  </div>
</div>
