<br /><br />
<div>
  <p>
    Hello! This page is a leaflet-geojson app I have hosted on AWS. It is loaded
    in an iframe. I can't believe how incredibly easy it is to embed a Node.js
    app into an Angular app. I've got to do more of these! Stay tuned, and come
    back soon!
  </p>
  <div id="content" class="flex-container" flexLayout="row">
    <iframe
      src="http://leaflet-geojson-app-stage1.s3-website-us-east-1.amazonaws.com/"
      width="100%"
      height="600"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      scrolling="no"
    ></iframe>
  </div>
</div>
