<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div
    fxFlex="50"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="20px"
    class="stats-cards"
  >
    <mat-card fxFlex="50">
      <img
        mat-card-image
        src="../../../../src/assets/img/Utilidata_job_posting.png"
      />
    </mat-card>

    <mat-card fxFlex="50">
      <div class="box content video-container">
        <iframe
          src="https://www.youtube.com/embed/TiuC9UfU61E"
          width="100%"
          height="100%"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </mat-card>
  </div>

  <div
    fxFlex="50"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="20px"
    class="stats-cards"
  >
    <mat-card fxFlex="50">
      <img
        mat-card-image
        src="../../../../src/assets/img/Heat_Map_Providence.jpg"
      />
    </mat-card>

    <mat-card fxFlex="50">
      <img
        mat-card-image
        src="../../../../src/assets/img/Edward_Dupre_Resume.png"
      />
    </mat-card>
  </div>
</div>
