<mat-grid-list cols="2" rowHeight="16:9">
  <mat-grid-tile id="item-1" class="item">
    <img src="/assets/img/Utilidata_job_posting.png" />
  </mat-grid-tile>

  <mat-grid-tile id="item-2" class="item">
    <div class="box content video-container">
      <iframe
        src="https://www.youtube.com/embed/TiuC9UfU61E"
        width="100%"
        height="100%"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </mat-grid-tile>

  <mat-grid-tile id="item-3" class="item">
    <img src="/assets/img/Heat_Map_Providence.png" />
  </mat-grid-tile>

  <mat-grid-tile id="item-4" class="item">
    <img src="/assets/img/Edward_Dupre_Resume.png" />
  </mat-grid-tile>
</mat-grid-list>
