.video-container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

img {
  height: 300px;
  padding: 0;
  overflow: hidden;
}

.item-1 .item-3 {
  text-align: right;
}
