<div>
  <h1 style="text-align: center;">Energy Information Administration</h1>
  <p>
    Hello! This page is a dashboard for the eia. It is loaded in an iframe. I
    can't believe how incredibly easy it is to embed an external web page or web
    app into an Angular app. And, it's clickable! (give it a minute to load
    before giving up on it, please.)
  </p>
  <div id="content" class="flex-container" flexLayout="row">
    <iframe
      src="https://www.eia.gov/dashboard/newengland/electricity"
      width="100%"
      height="600"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      scrolling="yes"
    ></iframe>
  </div>
</div>
