<h1 style="text-align: center;">
  GridHub<sup style="font-size:medium;">&trade;</sup> Dashboard
</h1>
<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="demand-container"
>
  <mat-card fxFlex="25" class="demand-gauge">
    <a
      href="https://api.eia.gov/series/?api_key=fa3e15d4b9f8fc2369d691db34848bc4&series_id=EBA.NE-ALL.D.HL"
      >Current Demand
      <iframe
        src="assets/data/elec-demand.html"
        frameborder="0"
        style="border:0;"
        allowfullscreen=""
        scrolling="no"
      ></iframe>
      <span>Updates Hourly</span>
    </a>
  </mat-card>

  <mat-card fxFlex="75" class="demand-cards">
    <a href="https://www.eia.gov/dashboard/newengland/electricity">
      <iframe
        id="eia_widget"
        style="width:100%;height:206px"
        src="https://www.eia.gov/opendata/embed/iframe.php?series_id=EBA.NE-ALL.D.HL&periods=10&analysis=none"
        load="iframe_load"
      ></iframe>
    </a>
  </mat-card>
</div>

<!-- <br /><mat-divider></mat-divider><br /> -->

<div>
  <app-widget-area [data]="bigChart"></app-widget-area>
</div>

<br /><mat-divider></mat-divider><br />

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <mat-card fxFlex="25">
    <a
      href="https://performance.providenceri.gov/Sustainability/Solar-Installed-Capacity/jhtn-2xcv"
    >
      <app-widget-card
        label="Solar Capacity"
        total="1440 kWh"
        percentage="50"
        [data]="solar"
      ></app-widget-card>
    </a>
  </mat-card>
  <mat-card fxFlex="25">
    <a
      href="https://performance.providenceri.gov/Sustainability/Bicycle-Infrastructure/g8jx-p4xc"
    >
      <app-widget-card
        label="Bicycle Infrastructure"
        total="14.6 miles"
        percentage="40"
        [data]="bicycleMiles"
      ></app-widget-card>
    </a>
  </mat-card>
  <mat-card fxFlex="25">
    <a
      href="https://data.providenceri.gov/Sustainability/Annual-Waste-Diversion-and-Recycling-Rates/mr3j-eu43"
    >
      <app-widget-card
        label="Recycliing"
        total="9k tons"
        percentage="30"
        [data]="recycling"
      ></app-widget-card>
    </a>
  </mat-card>
  <mat-card fxFlex="25">
    <a
      href="https://data.providenceri.gov/Neighborhoods/City-Tree-Planting/gpqc-mdpk"
    >
      <app-widget-card
        label="Tree Plantings"
        total="3225"
        percentage="20"
        [data]="trees"
      ></app-widget-card>
    </a>
  </mat-card>
</div>

<!-- <br /><mat-divider></mat-divider><br /> -->

<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="40">
    <app-widget-pie [data]="pieChart"></app-widget-pie>
  </div>
</div> -->

<br /><br /><br />
