<div>
  <h1 style="text-align: center;">Plot.ly Embedded Chart Example</h1>
  <p>
    Hello! This page is a plot.ly chart I have hosted on plot.ly. It is loaded
    in an iframe. I can't believe how incredibly easy it is to embed a chart
    into an Angular app. I've got to do more of these! Stay tuned, and come back
    soon!
  </p>
  <div id="content" class="flex-container" flexLayout="row">
    <iframe
      src="https://plot.ly/~edwd42/144.embed"
      width="100%"
      height="600"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
      scrolling="no"
    ></iframe>
  </div>
</div>
